<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}CHOMP IT DOWN!{{else}}EASE UP BUCKY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">BURGER BYEE!</button>
</li>
